.footer-container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
    color: white;
    margin-top: auto;
}
.footer-col{
   width: 40%;
   padding: 0 15px;
}
.footer-col h4 {
	font-size: 18px;
	color: #ffffff;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li{
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	color: #ffffff;
	text-decoration: none;
	display: block;
	transition: 0.3s;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
    text-decoration: underline;
}

main {
    min-height: 100%;
}


