.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form-box {
    margin-top: 20px;
    width: 100%;
    max-width: 450px;
    padding: 30px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
}

.form-box.active {
    display: block;
}

.flex-container h2 {
    font-size: 34px;
    text-align: center;
    margin-bottom: 20px;
}

.flex-container input {
    width: 100%;
    padding: 12px;
    background: #eee;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 18px;
}

.inputDiv {
    margin-bottom: 20px;
}

.flex-container button {
    width: 100%;
    padding: 12px;
    background: #FFBD73;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 20px;
    transition: 0.5s;
}

.flex-container button:hover {
    background: #dba362;
}

.flex-container p {
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
}

.flex-container p a {
    color: #FFBD73;
    text-decoration: none;
}

.flex-container p a:hover {
    text-decoration: underline;
}

.login-error {
    width: 100%;
    padding: 12px;
    background: #eee;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 18px;
    margin-bottom: 20px;
    background: #ff9f9f;
    font-weight: 700;
    color: white;
}

.input-error {
    color: red;
    font-size: 14px;
}