@import url("login-page.css");
@import url("header-partial.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
}

body {
    height: 100vh;
    background: linear-gradient(115deg, #F5F5F5 0%, #C4E1F6 65%);
}

p,
li,
a,
button {
    font-size: 18px;
}

main {
    width: 50%;
    min-width: 500px;
    margin: auto;
    margin-top: 30px;
}