@import url("login-page.css");
@import url("header-partial.css");
@import url("tasks-notes-pages.css");
@import url("pomodoro.css");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
}

body {
    height: 100vh;
    background: linear-gradient(115deg, #F5F5F5 0%, #C4E1F6 65%);
    background-attachment: fixed;
}

p,
li,
a,
button,
input,
textarea {
    font-size: 18px;
}

main {
    width: 50%;
    min-width: 700px;
    margin: auto;
    margin-top: 30px;
}

.activePage a {
    background-color: #C4E1F6;
    padding: 5px 15px;
    border-radius: 5px;
}

.inactivePage a {
    background-color: #C4E1F670;
    padding: 5px 15px;
    border-radius: 5px;
}

.noteLogo {
    height: 20px;
    margin-right: 10px;
    position: fixed;
}